body {
    margin: 8px;
    display: block;
}


#mainHeading {
    text-decoration: underline;
    margin-top: 55px;
    margin-bottom: 45px;
    margin-right: 80px;
    margin-left: 80px;
    font-size: 55px;
    color: red;
  }

  .funParagraph {
    color: green;
  }